<% provide :title, 'Home' %>

<div class="jumbotron">
  <h1 class="display-3">RailsBrew</h1>
  <h2 class="">Because brewing is actually easy.</h2>
  <p class="lead">Welcome to RailsBrew, the home of social brewing!</p>
  <hr class="my-4">
  <p>RailsBrew makes it easy to keep track of your inventory and recipes, follow your friends,
    and share your favourites with the community.
  </p>
  <p class="lead">
    <%= link_to 'Learn more', about_url, :class => 'btn btn-primary btn-lg' %>
  </p>
</div>
