<p>Welcome <%= @user.name %>,</p>

<p>thanks for signing up with RailsBrew.</p>

<p>Please click the link below to activate your account.</p>

<%= link_to 'Click here to activate!', edit_account_activation_url(@user.activation_token, email: @user.email) %>
