  <div class="style-stats">
    <span>OG: </span><span class="min-og"></span>-<span class="max-og"></span>
    <span>FG: </span><span class="min-fg"></span>-<span class="max-fg"></span>
    <span>IBUs: </span><span class="min-ibus"></span>-<span class="max-ibus"></span>
    <span>ABV: </span><span class="min-abv"></span>-<span class="max-abv"></span>%
  </div>
  <p class="no-stats" style="display: none;">
    <strong>Sorry, there are no pre-defined stats for this style.</strong>
    <span class="style-exceptions"></span>
  </p>
