<% provide :title, "Recipes" %>

<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<ul class="recipe-list">
<% @recipes.each do |recipe| %>
    <%= render 'recipe', recipe: recipe, mode: :all %>
<% end %>
</ul>
