<div class="user-container">
  <div class="user-avatar-container">
    <%= get_gravatar user, size %>
  </div>
  <div class="user-details-container">
    <h3><%= link ? link_to(user.name, user) : user.name %></h3>
    <% unless user.location.nil? || user.location.empty? %>
      <p><%= user.location %></p>
    <% end %>
    <p><%= user.recipes.length %> Recipes</p>
  </div>
</div>
