body {
  display: flex;
  flex-direction: column;
  margin: 1em;

  .content-container {
    flex-grow: 1;
  }
}

h1 {
  font-size: 2em;
  padding: 0.5rem;
}

header {
  margin-bottom: 1em;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eee;
    padding: 2em;

    ul {
      list-style: none;
    }

    li {
      padding: 0 0.5em;
      vertical-align: middle;
    }

    ul li {
      display: inline-block;
    }
  } //nav
} //header

.avatar {
  border-radius: 50%;
}

.avatar-small {
  width: 22px;
  height: 22px;
}

footer {
  margin: 1em 0;
  padding: 2em;
  background-color: #eee;
}
