body {
  padding-top: 15px;
}

header {
  margin: 0 2em;
}

.avatar {
  border-radius: 50%;
}

.avatar-small {
  width: 22px;
  height: 22px;
}

.loggedin-dropdown {
  background-color: Transparent;
  border: none;
}

.profile-id {
  padding-left: 20px;
  padding-right: 20px;
}
