/********************
RECIPE FORM STYLING
********************/

.malt-input {
  display: flex;
  flex-direction: row;
}
.hop-input {
  display: flex;
  flex-direction: row;
}
.yeast-input {
  display: flex;
  flex-direction: row;
}
.method textarea {
  width: 500px;
  height: 200px;
}

//input field widths
#efficiency,
#volume-display,
.ingredient-qty-display {
  width: 55px;
}

.fg-model {
  width: 80px;
}

.prediction-container {
  display: flex;
  flex-direction: row;

  border: 1px solid grey;
  border-radius: 3px;
  padding: 1em;
  width: 330px;

  .predictions {
    display: flex;
    flex-direction: column;
  }
}

/*************************
RECIPE LIST OBJECT DISPLAY
**************************/

.recipe-list {
  list-style: none;
  padding: 0;

  .recipe-list-item {
    margin: 1em 0;

    .recipe-container {
      display: inline-block;
      border: solid grey 1px;
      border-radius: 3px;
      padding: 1em;
      width: 330px;
    }

    .recipe-link {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.5rem;
    }
  } // .recipe-list-item

  .recipe-title {
    div {
      display: inline-block;
      vertical-align: middle;
    }
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
      color: black;
      padding-top: 0.5rem;
    }
  }
} // .recipe-list

.recipe-colour {
  // height: 60px;
  // width: 35px;
  // border: 3px solid black;
  /*The bg-color is a place-holder until the code to predict
  final beer color based on malt EBC is written*/
  // background-color: yellow;
  // border-top: 5px solid white;
  // border-radius: 0px 0px 3px 3px;
  margin-right: 0.75em;

  .predicted-colour {
  }
}

 /* end .recipe-list */

/*************************
RECIPE SHOW PAGE
**************************/

.header {
  display: flex;
  flex-direction: row;

  img {
    margin-top: 1.125em;
  }
}

.recipe-info {
  margin-left: 1em;
}

.get-style-info {
  cursor: pointer;
}
.get-style-info:hover {
  color: #286090;
}

.style-list {
  list-style: none;
  padding: 0;
}

.style-info-caret {
  display: none;
}

.get-style-info:hover .style-info-caret {
  display: inline-block;
}
