  .malt-input {
    display: flex;
    flex-direction: row;
  }
  .hop-input {
    display: flex;
    flex-direction: row;
  }
  .yeast-input {
    display: flex;
    flex-direction: row;
  }
  .method textarea {
    width: 500px;
    height: 200px;
  }
