// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    vertical-align: middle;
  }

  h3 {
    margin: 0;
  }

  .user-avatar-container {
    margin-right: 1em;
  }

  .user-details-container p {
    margin: 0.25rem 0 0;
  }
}

.user-index {

  list-style: none;

  li {
    margin: 0.5em 0;
  }
}

/*User preferences form */
.radio-label {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
}

.radio {
  margin-top: 0.125em;
  margin-left: 1.5em;
  margin-bottom: 0.125em;
}
