// @import "base/normalize.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/global.scss";
@import "base/forms.scss";
@import "styles/users.scss";
@import "styles/recipes.scss";
@import "styles/star_rating.scss";
